<yandex>
  <http_port>{{ click_listen_http }}</http_port>
  <https_port>{{ click_listen_https }}</http_port>
  <tcp_port>{{ click_listen_tcp }}</tcp_port>
  <interserver_http_host>{{ ansible_host }}</interserver_http_host>
  <listen_host>::</listen_host>
</yandex>
